.active{
    color: rgb(0, 0, 0);
    border-left: solid #FF0099 4px;
    border-left-width: 4px;
    padding-left: 15px;
    /* line-height: 3px; */
    margin-bottom: 8px;
    height: 70px;
     
}

    
@media screen and (max-width:720px) {
    .active {
    border-bottom: solid #FF0099 4px ;
    border-left: solid #fcf8f8 4px ;
    margin-bottom: 5px;
   width: 90px;

    }
  }